.botao {
  width: fit-content;
  margin: 0 auto;
  background-color: #e7e7e790;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #0000009F;
  color: #000000;
  font-size: 1.25rem;
  padding: 1rem 1.8rem;
  cursor: pointer;
  
  &:active {
    box-shadow: 2px 2px 4px #0000009F inset;
  }
}